<h1>{{ 'email.confirmation_title'|trans }}</h1>

<p>
    {% trans with {'%expiresAtMessageKey%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')} %}
        email.confirmation_content
    {% endtrans %}
    {# Merci de confirmer votre adresse email en cliquant sur le lien ci-dessous : <br><br>
    
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.

    Bonne journée ! #}
</p>
<a href="{{ signedUrl }}">{{ 'email.confirmation_link'|trans }}</a>.
