<form
    method="post"
    action="{{ path('episode_delete', {'id': episode.id}) }}"
    onsubmit="{{ 'episodes.delete_onsubmit'|trans }}"
    >
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ episode.id) }}"
    >
    <button class="btn btn-danger">
        {{ 'nav.delete'|trans }}
    </button>
</form>
