{% extends '/email/layoutEmail.html.twig' %}

{% block title %}
    {{ 'email.episode'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {% trans with {'%episodetitle%': episode.title} %}
          email.episode_title
        {% endtrans %}
    </h1>
    <p>
        {% trans with {
            '%programtitle%': program.title,
            '%episodenumber%': episode.number,
            '%episodetitle%': episode.title
        } %}
          email.episode_content
        {% endtrans %}
    </p>
    <a href="localhost:8000/episode/{{ episode.slug }}">{{ 'nav.email_go'|trans }}</a>
{% endblock %}
